.singlePost {
    display: flex;
    justify-content: space-evenly;
}

.singlePost > div {
    width: 10rem;
    padding: 1rem;
    border: 1px black dashed;
}

.postCard {
    border: black 1px solid;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.cardTitle, .cardBottom {
    display: flex;
    justify-content: space-between;
}

.cardFunctions {
    display: flex;
}

.cardButtons {
    display: flex;
}

.cardImage {
    display: flex;
    justify-content: center;
}

.postDetails {
    display: flex;
    justify-content: center;
}

.postDetailsTags {
    border: 1px black solid;
    padding: 1em;
}

.postDetailsMain {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: 10rem;
}

.postDetailsTitle {
    display: flex;
    justify-content: space-between;
}

.image-container {
    height: 50%;
    margin-bottom: .5rem;
}

.post-image {
    width: 100%;
    height: 100%;
}

.approval {
    font-size: 20px;
    font-weight: 500;
}

.postDetailsBelowCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
}